<% layout("/layouts/boilerplate.ejs") %>
<body>
  <div class="row">
    <div class="col-8 offset-2" >
      <h1>Create New Listings</h1>
      <form action="/listing" method="POST">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" name="listing[title]" required class="form-control">
      </div>
  
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]" required class="form-control"></textarea>
      </div>
  
      <div class="mb-3">
        <label for="image" class="form-label">Image URL</label>
        <input type="text" name="listing[image]" required class="form-control">
      </div>

      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input type="number" name="listing[price]" required class="form-control">
      </div>
 
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input type="text" name="listing[location]" required class="form-control">
      </div>
  
  
      <button type="submit" class="btn btn-dark">Add</button>
      </form>
    </div>
  </div>
</body>
